@import "../../helper/mixins/mixins";
.footer {
    background-color: var(--footer-blue);
    color: #fff;
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        // Large Screen
        @include breakpoint-up("large") {
            flex-direction: row;
            justify-content: space-around;
        }
        > div {
            &:not(:last-child) {
                margin-bottom: 40px;
                // Large Screen
                @include breakpoint-up("large") {
                    margin-bottom: 0;
                }
            }
        }
        > div > h3 {
            text-align: center;
            font-size: 1.5625rem;
            font-weight: 400;
            margin-bottom: 30px;
            // Large Screen
            @include breakpoint-up("large") {
                text-align: left;
            }
        }
        div > p {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 10px;
            transition: var(--tra);
            &:hover {
                color: var(--dark-green);
            }
            // Tablet Screen
            @include breakpoint-up("meduim") {
                font-size: 1rem;
            }
            // Large Screen
            @include breakpoint-up("large") {
                cursor: pointer;
                font-size: 1rem;
            }
        }
        .locations__info,
        .hours__info {
            display: flex;
            div {
                &:not(:last-child) {
                    margin-right: 30px;
                    // Large Screen
                    @include breakpoint-up("large") {
                        margin-right: 50px;
                    }
                }
            }
        }
    }
}
