:root {
    --dark-blue: rgba(21, 29, 37, 0.719);
    --very-dark-blue: rgb(21, 29, 37);
    --regular-blue: rgb(40, 55, 75);
    --gray: #a0b1a6;
    --dark-gray: #9fb0a5;
    --dark-green: #b8cb3b;
    --lobster: "Lobster Two", cursive;
    // transtions
    --tra: all 0.3s ease;
}
