:root {
    --dark-blue: rgba(21, 29, 37, 0.719);
    --very-dark-blue: rgb(21, 29, 37);
    --dark-green: #b8cb3b;
    --lobster: "Lobster Two", cursive;
    // transtions
    --tra: all 0.3s ease;
}
